body {
    min-height: 97vh;
    background-color: coral;
    background-image: url(img/blurred2.jpg);
    background-size: cover;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header img {
    width: 30%;
}

ul {
    list-style-type: none; /* Remove the round discs */
}

ul a {
    text-decoration: none; /* remove the underline */
    color: white;
}

nav a:hover {
    color: #8c7cf0;
}



nav li {
    display: inline-block; /* Make the links go next to each other horizontally */
    margin: 0.5rem;
    
}

.horizontalFlip {
    transform: scaleX(-1);
}

.borderContainer {
    border: 3px solid black;
}

main aside {
    width: 40vw;
    min-height: 50vh;
    margin: 5vw;
}

#robotHand {
    width: 130%;
    margin-top: 15vh;
}

main {
    display: flex;
}

footer {
    min-height: 20vh;
}