
/* CSS Variables */

:root {
    --border-radius: 0.6rem;
}

/* CSS reset */

html, body, div, span, applet, object,
	iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite,
	code, del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var, b,
	u, i, center, dl, dt, dd, ol, ul, li, fieldset,
	form, label, legend, table, caption, tbody,
	tfoot, thead, tr, th, td, article, aside,
	canvas, details, embed, figure, figcaption,
	footer, header, hgroup, menu, nav, output, ruby,
	section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

    body {
        color: white;
        font-family: 'SairaSemiCondensedLight';
    }

    h1 {
        font-size: 4rem;     
    }

    h2 {
        font-size: 2rem;
        margin: 4rem 0;
    }

    @font-face {
        font-family: 'SairaSemiCondensedExtraBold';
        src: url('fonts/SairaSemiCondensed-ExtraBold.ttf');
    }

    @font-face {
        font-family: 'SairaSemiCondensedLight';
        src: url('fonts/SairaSemiCondensed-Light.ttf');
    }

.mainGrid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2px;  
    min-height: 90vh;
}

header {
    background-color: rgb(9 6 65 / 57%);
    grid-column: span 12;
    background-image: url(img/crypto_bg-transformed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    background-blend-mode: darken;
}

.branding {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 2px;
    align-items: center;
    height: 100%;
}

#titleAndTagline {
    grid-column-start: 4;
    grid-column-end: 10;
    background-color: rgba(0, 0, 0, 0.524);
    text-align: center;
   
}

section {
    background-color: white;
    color: rgb(40, 40, 40);
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px; 
}

.elevatorPitch{
    grid-column: 3 / 11; /* Shorthand for grid-column-start: 3 and grid-column-end: 11 */
    margin-top: -10vh;
    border-radius: var(--border-radius);
}

.textContainer {
    grid-column: 2 / 8;
}

/* Buttons */

button.recommended {
    width: 20%;
    padding: 0.7rem;
    background-color: white;
    margin: 1rem;
    border-radius: 0.3rem;
}

button.not-recommended {
    width: 20%;
    padding: 0.7rem;
    margin: 1rem;
    border: 1px white solid;
    border-radius: 0.3rem;
    color: white;
    background-color: transparent;
}